.navbar{
  background-color: none;
}

.busqueda {
  background-color: blue;
}

.contenedorNav {
  background-color: #25c16a;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

/* h3{
  font-size: 15px;
  text-align: center;
}
h4{
  font-size: 10px;
  text-align: center;
}  */
.buscador {
  display: flex;
  border-radius: 20%;
}

.contenCarusel{
  display: block;
}
.contentProduct {
  display:inline-flex; 
}

.product {
  background-color: #d6d6d6;
  display: block;
  margin: 2em;
  box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
  border: 0.1em solid #d6d6d6;
  border-radius: 1em;
  /* justify-self: center; */
  width: 15em;
  /* align-content: center; */
  transition: all .4s ease-in-out;
  z-index: 1;
  /* padding: auto; */
  
}

.title {
  background-color: #25c16a;
  color: white;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  font-size: 1em;
  height: 5em;
  /* align-content: center; */
  justify-content: center;
  padding: 1em;
}

.descripcion {
  display: block;
  background-color: gainsboro;
  text-align: center;
  border-radius: 0 0 0.5em 0.5em;
}

.precio {
  display: block;
  color: #25c16a;
}

p {
  display: flex;
}

.desple {
  display: none;
}

.product .desple .btnCarrito {
  width: 101%;
  border-radius: 0 0 0.5em 0.5em;
  height: 3em;
  
}

.product :hover .desple{
  display: block;
}

.styles-module_carousel-arrow__26sRw{
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) no-repeat 50%;
  z-index: 1;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  height: 2em;
  

}

.exampleCarousel1 button:first-child {
  transform: rotate(180deg);
  left: -16px;
}
.styles-module_carousel-arrow__26sRw button{
  background-color: #25c16a;
}

